/*  Styling */
body {
    font-family: cursive;
    background-image: url('homepage.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue; 
} 

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;   
    display: grid;
    grid-template-rows: 25% 50% 25%;
}

#showcase .container {
    grid-template-columns: 1fr 3fr 1fr;
   
}
body > .container {
    position: relative;
}
.show-case {
    grid-column: 2/3;
    justify-content: center;
}
#boxes .container {
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
}
#sidelinks ul {
     justify-content: space-between;
    
}
#sidelinks ul li {
    background-color: black;
    margin-top: 5px;
    transition: opacity 1s;
    opacity: .2;
    width: 50px;
    margin-bottom: 0;
    list-style-type: none;
}
#sidelinks ul li:hover {
   opacity: .5;
}
#sidelinks ul li i
{
    -webkit-transition: font-size 1.1s;
    transition: font-size 1.1s;
}
#sidelinks ul li a 
{
  text-decoration: none;
  color: white;
}
#sidelinks ul li i:hover {
   font-size: 5.5vh;
}
.fab {
    font-size: 5vh;
}
.logo {
    font-size: 5vw;
}

#sidelinks {
    position: fixed;
    top: 50%;
    right: 15%;
}


nav ul {
    width: auto;
}
nav ul li {
    display: inline-block;
    margin-right: 3.5%;
}
nav ul li a {
    text-decoration: none;
    list-style: none;
    color: white;
}

@media only screen and (max-width: 700px) {
    /* For mobile phones: */
   #boxes .container{
    grid-template-columns: 1fr;
   }
   nav ul li {
    display: block;
    margin-right: 3.5%;
}
 .logo {
     font-size: 10vh;
 }
  }
